# Django settings
SECRET_KEY=
DEBUG=

# DB connection
NAME=
USER=
HOST=
PORT=
PASSWORD=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Для того чтобы письма НЕ отправлялись на реальные адреса (оставить только одно)
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Для того чтобы письма отправлялись на реальные адреса (оставить только одно)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Время работы ресторана в формате 00:00:00
TIME_OPEN=
TIME_CLOSE=