{% extends 'booking/base.html' %}

{% block title %}О ресторане{% endblock %}

{% block content %}
<h1 class="text-center m-3">
    О ресторане
    <hr class="border border-primary border-1 opacity-75">
</h1>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card border-primary m-4 p-3">
                <h3 class="text-center">
                    История ресторана
                    <hr class="border border-primary border-1 opacity-75">
                </h3>
                <p>
                    Наш ресторан известен тем, что...
                </p>
            </div>

            <div class="card border-primary m-4 p-3">
                <h3 class="text-center">
                    Миссия и ценности
                    <hr class="border border-primary border-1 opacity-75">
                </h3>
                <p>
                    Наш ресторан предоставляет такие услуги, как:
                </p>
            </div>

            <div class="card border-primary m-4 p-3">
                <h3 class="text-center">
                    Команда
                    <hr class="border border-primary border-1 opacity-75">
                </h3>
                <p>
                    Для связи с нами обратитесь по номеру...
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}