{% extends 'booking/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1 class="text-center m-3">
    Главная страница ресторана
    <hr class="border border-primary border-1 opacity-75">
</h1>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-primary m-4 p-3">
            <h3 class="text-center">
                Описание ресторана
                <hr class="border border-primary border-1 opacity-75">
            </h3>
            <p>
                Погрузитесь в атмосферу настоящей Италии с ее богатыми гастрономическими традициями и беззаботной
                жизнерадостностью.
                Наша кухня — это современное прочтение классических рецептов, вдохновленных разными регионами этой
                прекрасной страны.
                Мы тщательно отбираем продукты, отдавая предпочтение локальным фермерским поставкам и импортируя из
                Италии
                самое лучшее: оливковое масло холодного отжима, ароматные трюфели, выдержанную пармиджано-реджано и
                сочные томаты.<br>
                Интерьер нашего ресторана сочетает в себе элегантность и простоту: теплые землистые тона, натуральное
                дерево,
                мягкий свет и живая зелень создают расслабляющую обстановку. Летняя веранда с каскадом цветов и уютными
                пледами
                подарит вам незабываемые вечера под звездным небом.
            </p>
        </div>

        <div class="card border-primary m-4 p-3">
            <h3 class="text-center">
                Перечень предоставляемых услуг
                <hr class="border border-primary border-1 opacity-75">
            </h3>
            <p>
                - Основное меню: Обширное меню авторской итальянской кухни (антипасти, паста, ризотто, пицца в
                неаполитанском стиле, главные блюда из мяса и рыбы, десерты).<br>

                - Винная карта: Эксклюзивная подборка итальянских вин от малых семейных виноделен до известных
                апелласьонов. Помощь сомелье в подборе вина.<br>

                - Банкеты и фуршеты: Организация мероприятий «под ключ» (дни рождения, юбилеи, корпоративы, свадьбы).
                Индивидуальное меню, сервировка, оформление зала.<br>

                - Вынос еды (Takeaway): Возможность забрать любимые блюда с собой. Доступно через сайт и приложения
                доставки.<br>

                - Доставка: Быстрая и бережная доставка по городу в специальной термоупаковке.<br>

                - Бронирование столиков: Онлайн-бронирование через сайт, а также по телефону.<br>

                - Живая музыка: По вечерам в пятницу и субботу выступление джазового ансамбля или скрипача.<br>

                - Кулинарные мастер-классы: По субботам шеф-повар проводит мастер-классы по приготовлению пасты и пиццы
                для взрослых и детей.
            </p>
        </div>

        <div class="card border-primary m-4 p-3">
            <h3 class="text-center">
                Контактная информация
                <hr class="border border-primary border-1 opacity-75">
            </h3>
            <p>
                - Адрес: <br>

                - Телефон для бронирования: <br>

                - Телефон для мероприятий: <br>

                - Email для общих вопросов: <br>

                - Email для бронирований: <br>

                - Email для мероприятий: <br>
                <br>
                Наши социальные сети:<br>

                - Instagram: <br>

                - Telegram-канал: <br>
                <br>
                Часы работы:<br>

                - Понедельник - Четверг: с 09:00 до 23:00<br>

                - Пятница - Суббота: с 09:00 до 00:00<br>

                - Воскресенье: с 12:00 до 23:00<br>
            </p>
        </div>

        <div class="card border-primary m-4 p-3">

            <h3 class="text-center">
                Форма для обратной связи
                <hr class="border border-primary border-1 opacity-75">
            </h3>

            <form method="post" action="{% url 'booking:feedback-create' %}">
                {% csrf_token %}
                {{ feedback_form.as_p }}
                <button type="submit" class="btn w-100 btn-primary">
                    Отправить
                </button>
            </form>

        </div>

    </div>
    <div class="col-2"></div>
</div>
{% endblock %}