{% extends "booking/base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card border-primary m-4 p-3">
            <div class="card-body">
                <h2 class="mb-3">Восстановление пароля</h2>

                <form method="post" action="{% url 'users:new-password-request' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Отправить ссылку для восстановления
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}