{% extends 'booking/base.html' %}

{% block title %}Мой профиль{% endblock %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-primary m-3 p-3">
            <div class="card-body">
                <h1 class="fw-bold mb-3">
                    {% if object.first_name or object.last_name %}
                    {% if object.first_name %}
                    {{ object.first_name }}
                    {% endif %}
                    {% if object.last_name %}
                    {{ object.last_name }}
                    {% endif %}
                    {% else %}
                    Имя не указано
                    {% endif %}
                </h1>
                <h5 class="card-text mb-3">
                    Email: {{ object.email }}
                </h5>
                <h5 class="card-text mb-3">
                    Телефон: {{ object.phone_number }}
                </h5>
                <div>
                    <form method="post">
                        <a href="{% url 'users:user-update' object.pk %}"
                           class="btn btn-outline-primary">Редактировать профиль</a>
                        {% if user.pk == object.pk %}
                        <a href="{% url 'users:password-update' object.pk %}"
                           class="btn btn-outline-primary">Изменить пароль</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

{% include 'booking/user_booking_list.html' with bookings=user_bookings %}

{% endblock %}